.cardss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body{
  background-color: gray;
}
.App{
  width: 1200px;
  margin: 20px auto;
  font-family: 'Fredoka', sans-serif;
  border: 1px solid teal;
  background-color: white;
  border-radius: 50px;
}
button{
  margin: 20px auto;
}

@media screen and (max-width: 1050px) {
  .cardss{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .App{
    width: 900px;
    justify-content: center;
    align-items: center;
  }
}